<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 

    Note added by Iqbal for future reference if you ever run into this error while trying to run in 
    debug mode: -
    
    Visual Studio Debugger
    Error: Debugging Failed Because Integrated Windows Authentication Is Not Enabled

    Authentication of the user requesting debugging could not be done due to an authentication error 
    when attempting to step into a Web application or XML Web service. One cause of this error is that 
    integrated Windows authentication is not enabled. To enable it, perform the following steps.

    If you have enabled integrated Windows authentication and this error still appears, then it is 
    possible that this error is caused because Digest Authentication for Windows Domain Servers is 
    enabled. In this situation you should consult with your network administrator.

    To enable integrated Windows authentication
    - Log onto the Web server using an administrator account. 
    - On the Start menu, click Administrative Tools Control Panel.
    - In the Administrative Tools window, double-click Internet Information Services. 
    - In the Internet Information Services window, open the Web server node. 
    - A Web Sites folder opens beneath the server name. 
    You can configure authentication for all Web sites or for individual Web sites. To configure 
    authentication for all Web sites, right-click the Web Sites folder and click Properties on 
    the shortcut menu. To configure authentication for an individual Web site, open the Web Sites 
    folder, right-click the individual Web site, and on the shortcut menu, click Properties.
    - In the Properties dialog box, click the Directory Security tab.
    - In the Anonymous access and authentication control section, click the Edit button.
    - In the Authentication Methods dialog box, under Authenticated access, select Integrated 
    Windows authentication.
    - Click OK to close the Authentication Methods dialog box.
    - Click OK to close the Properties dialog box.
    - Close the Internet Information Services window.
    
    Also, you may need to use <machinename>\ASPNET user instead of IUSR<machinename> for authentication.
-->
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
</assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
